  #game-block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
    width: 70%;
  }
  .left{
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  #room-info{
    margin: 5px;
    border:2px solid black;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .room-name{
    font-size: x-large;
    margin: 5px;
  
  }
  .user-card {
    margin: 10px;
    /* border: 1px solid black; */
  }
  #create-room-button {
    font-size: 30px;
    text-transform: uppercase;
    padding: 0 15px;
  }
  .btn {
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    margin: 2px;
  }
  .room-title{
    font-size: 25px;
  }
  .join-btn{
    font-size: 20px;
    padding: 0 5px;
  }
  .room{
    width: 20%;
    margin: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #rooms-unit {
    display: flex;
    flex-direction: row;
  }
  #game-page {
    display: flex;
    flex-direction: row;
  }
  #users-block {
    border: 1px solid black;
    margin: 10px;
  }
  .username-block {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .rdy-status {
    width: 15px;
    height: 15px;
    margin-left: auto;
    border-radius: 50%;
  }
  .ready-btn{
    font-size: 40px;
    padding: 5px;
  }
  .quit-room-btn{
    margin: 4px;
    height: 50%;
    border:1px solid black;
  }
  .ready-status-red {
    background-color: red;
  }
  .ready-status-green {
    background-color: green;
  }
  .progress-bar {
    height: 20px;
    margin: 4px;
  
    border: 1px solid black;
  }
  .progress {
    background-color: green;
    height: 100%;
    width: 0%;
  }
  .timer-before{
    font-size: 60px;
  }
  #game-timer{
    position: absolute;
    margin: 5px;
    top: 10px;
    right: 10px;
  }
  #colored-text, #selected-text,#undecorated-text{
    font-size: large;
  }
  #colored-text{
    background-color: green;
  }
  #selected-text{
    text-decoration: underline;
    text-decoration-color: green;
  }
  

  .modal-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.6);
  }
  
  .modal-root {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
  }
  
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    font-weight: 700;
    font-size: 22px;
  }
  
  .modal-body {
    padding: 1rem;
  }
  
  .close-btn {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
  }
  